<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998814899559-jh3vg7dao6m1m3cvl4jclvvjg7vug7qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998814899559-jh3vg7dao6m1m3cvl4jclvvjg7vug7qm</string>
	<key>API_KEY</key>
	<string>AIzaSyBUdjs8D4RVaR-eAxF7fHElpMNY3v-NVbo</string>
	<key>GCM_SENDER_ID</key>
	<string>998814899559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-8cc23</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-8cc23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998814899559:ios:4860b0789775ac7e47e3c2</string>
</dict>
</plist>